{% extends 'base.html.twig' %}

{% block title %}Manga index{% endblock %}

{% block body %}
    <h1>Manga index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Autor</th>
                <th>Descripcion</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for manga in mangas %}
            <tr>
                <td>{{ manga.id }}</td>
                <td>{{ manga.Nombre }}</td>
                <td>{{ manga.Autor }}</td>
                <td>{{ manga.Descripcion }}</td>
                <td>
                    <a href="{{ path('manga_show', {'id': manga.id}) }}">show</a>
                    <a href="{{ path('manga_edit', {'id': manga.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">No quedan mangas</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('manga_new') }}">Create new</a>
{% endblock %}
{% block javascripts %}
    {#    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>#}
    {#    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-promise/4.0.5/es6-promise.auto.min.js"></script>
    <script src="{{ asset('build/manifest.js') }}"></script>
    <script src="{{ asset('build/layout.js') }}"></script>
    <script src="{{ asset('build/UploadImg.js') }}"></script>
{% endblock %}
