{% extends 'base.html.twig' %}

{% block title %}New Manga{% endblock %}

{% block body %}
    <h1>Crear manga</h1>

    {{ include('manga/_form.html.twig') }}

    <a href="{{ path('manga_index') }}">Volver a la lista</a>
{% endblock %}
{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-promise/4.0.5/es6-promise.auto.min.js"></script>
    <script src="{{ asset('build/manifest.js') }}"></script>
    <script src="{{ asset('build/layout.js') }}"></script>
    <script src="{{ asset('build/UploadImg.js') }}"></script>
{% endblock %}
