{% extends 'base.html.twig' %}

{% block title %}Manga{% endblock %}

{% block body %}
    <h1>Manga</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ manga.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ manga.Nombre }}</td>
            </tr>
            <tr>
                <th>Autor</th>
                <td>{{ manga.Autor }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ manga.Descripcion }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('manga_index') }}">back to list</a>

    <a href="{{ path('manga_edit', {'id': manga.id}) }}">edit</a>

    {{ include('manga/_delete_form.html.twig') }}
{% endblock %}
