<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Find Something to Lift!{% endblock %}</title>

    {% block stylesheets %}
        <link href="{{ asset('build/layout.css') }}" rel="stylesheet" />
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
                    data-toggle="collapse"
                    data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand"
               href="{{ path('inicio') }}"
               data-toggle="tooltip"
               data-placement="bottom"
               title="Manga con estilo">Mangaka</a>
        </div>
        <div class="navbar-collapse collapse">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

            {% else %}
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="">
                            Register
                        </a>
                    </li>
                </ul>
            {% endif %}
        </div>
        <!--/.navbar-collapse -->
    </div>
</div>


<div class="container main-content">
    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="flash-{{ type }} alert alert-info">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {% block body %}

     {% endblock %}

    <footer class="footer">
        <hr />

        <p>&copy; Alejandro {{ ''|date('Y') }}</p>
    </footer>
</div>
<!-- /container -->

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-promise/4.0.5/es6-promise.auto.min.js"></script>
    <script src="{{ asset('build/manifest.js') }}"></script>
    <script src="{{ asset('build/layout.js') }}"></script>
{% endblock %}

</body>
</html>
