{% extends 'base.html.twig' %}

{% block title %} usuario {{ user.email }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/Manga.css') }}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
          integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
{% endblock %}

{% block body %}


    <div class="Body">
        <div class="Container">
            <div class="BX Row BFluid Sp20">

                <aside class="SidebarA BFixed">
                    <div class="Wdgt User">
                        <div class="Avatar">
                            <div class="Bg" style="background-image:url({{ asset('img/user.bmp') }})"></div>
                            <figure><a href="#"><img src="url({{ asset('img/user.bmp') }}" alt=""></a></figure>
                            <div class="Name">{{ user.email }}</div>

                        </div>
                    </div>
                </aside>


                <main class="Main">
                    <section class="WdgtCn">
                        <div class="Top">
                            <div class="Title">Mangas favoritos</div>
                        </div>
                        <ul class="ListAnimes AX Rows A06 C04 D03">
                            {% for fav in user.favoritos %}

                            <li>
                                <article class="Anime alt">

                                    <div class="Image">
                                        <figure><img src="{{ asset('media/'~ fav.manga.getPortada()) }}" alt=""></figure>
                                        <span class="Type tv">{{ fav.manga.categoria }}</span>
                                        <div class="Description">
                                            <div class="Title"><strong><a href="{{ path('manga_show', {'id': fav.manga.getId()}) }} ">{{ fav.manga.nombre }}</a></strong>
                                            </div>

                                            <p>{{ fav.manga.descripcion }}</p>
                                        </div>
                                    </div>
                                    <h3 class="Title"><a href="{{ path('manga_show', {'id': fav.manga.getId()}) }}">{{ fav.manga.nombre }}</a></h3>
                                </article>
                            </li>

                        {% endfor %}

                        </ul>
                    </section>
                    <section class="WdgtCn">
                        <div class="Top">
                            <div class="Title">Historial de episodios vistos</div>
                        </div>

                        <ul class="ListCaps" id="episodeList" style="max-height: 1000px; overflow-y: auto;">
                            {% for marcaPag in user.marcaPagina %}
                                <li value="{{ marcaPag.capitulo.id }}"><a
                                            href="{{ path('capitulo_show', {'id': marcaPag.capitulo.id}) }}">
                                        <h3 class="Title">{{ marcaPag.capitulo.manga.nombre }} </h3>
                                        <p> {{  marcaPag.capitulo.nombre }}</p>
                                    </a>
                                    <label for="{{ marcaPag.capitulo.id }}" class="opivw">
                                        </label>
                                </li>
                            {% endfor %}
                        </ul>

                    </section>
                </main>
            </div>
        </div>
    </div>






{% endblock %}
{% block javascripts %}
    {{ parent() }}


{% endblock %}
